<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO LIST</title>
</head>

<body>
    <h1>
        <%= heroes.title %>
    </h1>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>role</th>
            <th>action</th>
        </tr>
        <% for (let i=0 ; i < heroes.data.length; i++) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= heroes.data[i].name %>
                </td>
                <td>
                    <%= heroes.data[i].role %>
                </td>
                <form action="/hero/remove/" method="post">
                    <td>
                        <a href="/hero/<%= heroes.data[i].id %>">edit</a>
                        <input type="text" hidden name="id" value="<%= heroes.data[i].id %>">
                        <input type="submit" value="X"
                            style="border:none; color: red; background: none; cursor: pointer;">
                </form>
                </td>
            </tr>
            <% } %>
    </table>
    <br>
    <br>
    <br>
    <h1>TAMBAHKAN HERO</h1>
    <form action="/hero/add" method="post">
        <h3>Nama Hero</h3>
        <input type="text" name="name" placeholder="isi nama hero">
        <h3>Role</h3>
        <input type="text" name="role" placeholder="isi role">
        <input type="submit" value="tambahkan">
    </form>

</body>

</html>